<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>tawny cataldo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Javascript files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="js/client.js"></script>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://use.fontawesome.com/018765c0db.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
</head>

<body>
    <header>
    <nav>
        <div class="nav-wrapper red darken-2">
            <a  href="/" class="navbar-name center-align">tawny cataldo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/about"><i class="fa fa-female tooltipped" data-position="bottom" data-delay="50" data-tooltip="About" alt="About"></i></a></li>
                <li><a href="/portfolio"><i class="fa fa-folder-open tooltipped" data-position="bottom" data-delay="50" data-tooltip="Portfolio" alt="Portfolio"></i></a></li>
                <li><a href="/blog"><i class="fa fa-book tooltipped" data-position="bottom" data-delay="50" data-tooltip="Blog" alt="Blog"></i></a></li>
                <li><a href="/contact"><i class="fa fa-paper-plane tooltipped" data-position="bottom" data-delay="50" data-tooltip="Contact" alt="Contact"></i></a></li>
            </ul>
        </div>
    </nav>
</header>

    {{{ body }}}

        <footer class="page-footer red darken-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <a href="https://github.com/tawnycat/"><i class="fa fa-github fa-4x" alt="Link to Github"></i></a></li>
              </div>
              <div class="col l4 offset-l2 s12">
                <ul>
                  <li><a class="white-text" href="/about">About</a></li>
                  <li><a class="white-text" href="/portfolio">Portfolio</a></li>
                  <li><a class="white-text" href="/blog">Blog</a></li>
                  <li><a class="white-text" href="/contact">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container white-text">
            © 2018 tawny cataldo
            </div>
          </div>
        </footer>
</body>

</html>