<main>
		<div class="row">
			<div class="col s12 m6 l6">
				<img class="me" src="img/photo.png">
			</div>
			<div class="col s12 m6 l6 about">
				<h1>Hello!</h1>
				<p>Tawny is a full stack web developer living in Jersey City, NJ.</p>
			</div>
		</div>
</main>