<main>
	<div class="row">
		<div class="col s12 m6 l6">
			<img class="photos" src="img/photo.png" alt="Tawny Cataldo">
		</div>
		<div class="col s12 m6 l6">
			<div class="about">
				<h4>
					Tawny is a full stack web developer living in her ancestral homeland of Jersey City, New Jersey.
				</h4>
				<p>
					 She is passionate about building clever and usable web applications that are beautiful inside and out, while learning as much as she can along the way. An excellent problem solver, Tawny delights in finding elegant solutions to tough issues. She enjoys creating well-organized, exceedingly readable backends using Node.js with MongoDB or MySQL, but she certainly does not shy away from front end design. She is wholly dedicated to learning and using the latest and greatest technologies in order to maximize efficiency.
				</p>
				<p>
					In Tawny's spare time, you can find her at the repertory movie house, the museum, the local punk show, her favorite used bookstore or snuggled on the couch with her cat, Darby.
				</p>
				<h4>
					Tawny works with:
				</h4>
				<div class="icon-container">
					<i class="devicon-html5-plain-wordmark dev-icons" alt="HTML5" title="HTML5"></i>
					<i class="devicon-css3-plain-wordmark dev-icons" alt="CSS3" title="CSS3"></i>
					<i class="devicon-javascript-plain dev-icons" alt="Javascript" title="Javascript"></i>
					<i class="devicon-jquery-plain dev-icons" alt="JQuery" title="JQuery"></i>
					<i class="devicon-react-original dev-icons" alt="React" title="React"></i>
					<i class="devicon-bootstrap-plain dev-icons" alt="Bootstrap" title="Bootstrap"></i>
					<i class="devicon-nodejs-plain dev-icons" alt="Node.js" title="Node.js"></i>
					<i class="devicon-express-original dev-icons" alt="Express" title="Express"></i>
					<i class="devicon-mysql-plain dev-icons" alt="MySQL" title="MySQL"></i>
					<i class="devicon-sequelize-plain dev-icons" alt="Sequelize" title="Sequelize"></i>
					<i class="devicon-mongodb-plain dev-icons" alt="MongoDB" title="MongoDB"></i>
					<i class="devicon-babel-plain dev-icons" alt="Babel" title="Babel"></i>
					<i class="devicon-heroku-original dev-icons" alt="Heroku" title="Heroku"></i>
					<i class="devicon-git-plain dev-icons" alt="Git" title="Git"></i>
					<i class="devicon-photoshop-plain dev-icons" alt="Photoshop" title="Photoshop"></i>
				</div>
			</div>
		</div>
	</div>
</main>