<main>
<div class="container">
    <div class="row">
        <div class="col m10 offset-m1 s12">
            <h2 class="center-align">say hello!</h2>
            <br><br>
            <div class="row">
                <form class="col s12" action="/send-email" method="post">
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <input name="name" type="text" class="validate">
                            <label for="name">Name</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input name="email" type="email" class="validate">
                            <label for="email">Email address</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                          <textarea name="message" class="materialize-textarea"></textarea>
                          <label for="message">Message</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m12">
                         <p class="right-align"><button class="btn waves-effect waves-light red darken-2" type="submit">Submit</button></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</main>