<main>
<div class="container">
    <div class="row">
        <div class="col m10 offset-m1 s12">
            <h1 class="center-align">Thanks!</h1>
            <h4 class="center-align">I'll be in touch.</h4>
        </div>
    </div>
</div> 
</main>