.carousel {
    width: 80%;
    margin: 0 auto;
}

.shadow {
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3);
}

.link {
    color: #dc3545;
}

.link:hover {
    color: #dc3545;
    text-decoration: none;
}

.navbar {
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
}